@page
@model Automatic_Scheduling_App.Pages.employeeTimeOffModel
@{
}

<br>
<br>
<div class="jumbotron empdayoff" style="text-align:center">
    <h1>Schedule Adjustment Request</h1>
    <br />
    <form method="post">
        <div class="form-row justify-content-center">
            <div class="col-md-3">
                <label for="timeoff" class="form-label">Date of Absence</label>
                <input type="date" name="dayoff" class="form-control" id="timeoff" required>
            </div>
            <div class="col-md-7">
                <label for="exampleFormControlTextarea1" class="form-label">Slect a Reason for your request</label>
                <select class="form-select" name="reason" style="width:fit-content; height: 40px;">
                    <option selected>Unpaid Leave</option>
                    <option>Standard PTO</option>
                    <option>Bereavement Leave</option>
                    <option>Educational or Training Purposes</option>
                    <option>Family Events</option>
                    <option>Illness or Medical Appointment</option>
                    <option>Mental Health Days</option>
                    <option>Parental Leave</option>
                    <option>Personal Errands</option>
                    <option>Religious Observances</option>
                    <option>Vacation</option>
                    <option>Volunteer Work</option>
                </select>
            </div>
            <div class="col-md-2">
                <button name="upd_mon" class="btn btn-outline-warning">
                    <img src="/timeoff.svg" class="img-fluid" alt="..." style="width: 60px; height: auto;">
                </button>
            </div>
        </div>
    </form>
    <br />
    <p><b>@Model.message</b></p>
</div>

<br />
<h3>Approved Requests</h3>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">Date Requested</th>
            <th scope="col">Reason</th>
            <th scope="col">Submitted On</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.record)
        {
            if (user.Item4 == 2)
            {
                <tr>
                    <td>@user.Item1</td>
                    <td>@user.Item2</td>
                    <td>@user.Item3</td>
                </tr>
            }
        }
    </tbody>
</table>

<br />
<h3>Denied Requests</h3>
<table class="table table-danger table-striped">
    <thead>
        <tr>
            <th scope="col">Date Requested</th>
            <th scope="col">Reason</th>
            <th scope="col">Submitted On</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.record)
        {
            if (user.Item4 == 1)
            {
                <tr>
                    <td>@user.Item1</td>
                    <td>@user.Item2</td>
                    <td>@user.Item3</td>
                </tr>
            }
        }
    </tbody>
</table>

<br />
<h3>Pending Requests</h3>
<table class="table table-primary table-striped">
    <thead>
        <tr>
            <th scope="col">Date Requested</th>
            <th scope="col">Reason</th>
            <th scope="col">Submitted On</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.record)
        {
            if (user.Item4 == 0)
            {
                <tr>
                    <td>@user.Item1</td>
                    <td>@user.Item2</td>
                    <td>@user.Item3</td>
                </tr>
            }
        }
    </tbody>
</table>