@page
@model Automatic_Scheduling_App.Pages.employeeViewModel
@{
}
<br>
<br>
<div class="jumbotron empview">
    <center>
        <h1>Associate Portal</h1>
        <br />
        <form method="post">
            <div class="form-row justify-content-center" style="background-color:azure; box-shadow: 2px 2px 5px gray;">
                <div class="col-md-6">
                    <label for="dept_name" class="form-label" style="color:coral; margin-top: 20px;">Select a Department to display</label>
                    <br />
                    <select id="dept_name" name="dept_name" class="form-select rounded" style=" font-size: 20px; width:fit-content; height: 40px; margin-bottom: 20px; background-color:lightyellow;">
                        <option selected value="@Model.userData["dept_name"]">@Model.userData["dept_name"]</option>
                        @foreach (var dept in Model.departments)
                        {
                            <option value="@dept">@dept</option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <br />
                    <button type="submit" name="dept_update" class="btn image-button2">
                        <img src="/reload.svg" class="img-fluid" alt="..." style="float:left;">
                    </button>
                </div>
            </div>
        </form>

        <div class="image-container">
            <img src="/userdisplay.svg" class="img-fluid" alt="..." style="width: 150px; height: auto; margin-bottom:20px; margin-top:20px;">
        </div>
        
        <div class="card" style="width:600px; background-color:lightyellow">

            <div class="card-body">
                <h5 class="card-title">@Model.userData["first_name"] @Model.userData["last_name"]</h5>
                <p class="card-text"><b>@Model.userData["email"]</b></p>
                <p class="card-text"><b>@Model.userData["position"]</b></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="background-color:azure;">SSN: <b>@Model.userData["ssn"]</b> D.O.B: <b>@Model.userData["dob"]</b> (<b>@Model.userData["gender"]</b>)</li>
                <li class="list-group-item" style="background-color:azure;">Contact: <b>@Model.userData["phone_number"]</b>  |  <b>@Model.userData["phone_type"]</b></li>
            </ul>
            <div class="card-body text-center">
                <a class="nav-link dropdown-toggle" href="#" id="addressdrop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b>Address</b>
                </a>
                <div class="dropdown-menu dropdown-menu-lg" style="min-width:auto; man-width: 650px; font-size:20px; color:coral; background-color:bisque; box-shadow: 2px 2px 5px gray;">
                    <ul style="margin-right:40px">street: <b>@Model.userData["street"]</b></ul>
                    <ul style="margin-right:40px">unit: <b>@Model.userData["unit"]</b></ul>
                    <ul style="margin-right:40px">city: <b>@Model.userData["city"]</b></ul>
                    <ul style="margin-right:40px">state: <b>@Model.userData["state"]</b></ul>
                    <ul style="margin-right:40px">zipcode: <b>@Model.userData["zipcode"]</b></ul>
                </div>
            </div>
        </div>

        <br />

        <br />
        <form method="post">
            <div class="form-row justify-content-sm-center">
                <div class="col-md-2">
                    <div class="col-12">
                        <button type="submit" name="prevbut" class="btn btn-success">Prev.</button>
                    </div>
                </div>
                <div class="col-md-2" style="background-color: azure; font-size: 20px; box-shadow: 2px 2px 5px gray;">
                    <p style="margin-top: 5px;"><b>@(Model.index + 1)</b> of <b>@Model.range</b></p>
                </div>
                <div class="col-md-2">
                    <div class="col-12">
                        <button type="submit" name="nextbut" class="btn btn-success">Next</button>
                    </div>
                </div>
            </div>
        </form>
    </center>
</div>
