@page
@model Automatic_Scheduling_App.Pages.employeeUpdateModel
@{
}
<br>
<br>
<div class="jumbotron empupd">
    <center>
        <div class="form-row empupd">
            <div class="image-container">
                <img src="/userinfo.svg" class="img-fluid" alt="..." style="width: 150px; height: auto; margin-right:60px;">
                
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" name="dept_name" maxlength="16" value="@Model.userData["dept_name"]" readonly placeholder="Employee Department" style="color:white; background-color:darksalmon; text-align:center;">
                <input type="text" class="form-control" name="position" maxlength="32" value="@Model.userData["position"]" readonly placeholder="Employee Role" style="color:black; background-color:white; text-align:center;">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" maxlength="64" value="@Model.userData["email"]" readonly style="color:white; background-color:darksalmon; text-align:center;">
            </div>
        </div>
    </center>
    <br />
    <br />
    <form method="post">
        <h6 style="color:darksalmon">Personal Info.</h6>
        <div class="form-row">
            <div class="col-md-6">
                <label for="inputCity" class="form-label">First Name</label>
                <input type="text" class="form-control" name="first_name" minlength="1" maxlength="16" value="@Model.userData["first_name"]">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="last_name" minlength="1" maxlength="16" value="@Model.userData["last_name"]">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <label for="inputCity" class="form-label">SSN</label>
                <input type="text" class="form-control" name="ssn" maxlength="11" readonly style="color:white; background-color:darksalmon;" value="@Model.userData["ssn"]">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Date Of Birth</label>
                <input type="text" class="form-control" name="date_of_birth" maxlength="10" readonly style="color:white; background-color:darksalmon;" value="@Model.userData["dob"]">
            </div>
        </div>
        <br />
        <h6 style="color:darksalmon">Contact Info.</h6>
        <div class="form-row">
            <div class="col-md-6">
                <label for="inputCity" class="form-label">Phone Number</label>
                <input type="text" class="form-control" name="phone_number" minlength="10" maxlength="13" value="@Model.userData["phone_number"]">
            </div>
            <div class="col-md-2">
                <label for="inputCity" class="form-label">Type</label>
                <br />
                <select id="type" name="phone_type" class="form-select rounded" style="font-size: 20px; width:fit-content; height: 40px;">
                    <option selected value = "@Model.userData["phone_type"]">@Model.userData["phone_type"]</option>
                    <option value ="Home">Home</option>
                    <option value="Mobile">Mobile</option>
                    <option value="Work">Work</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="gender" class="form-label" style="color:darksalmon"><b>Gender</b></label>
                <br />
                <select id="gender" name="gender" class="form-select rounded" style=" font-size: 20px; width:fit-content; height: 40px;">
                    <option selected>@Model.userData["gender"]</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="O">Other</option>
                </select>
            </div>
        </div>
        <br />
        <h6 style="color:darksalmon">Address Info.</h6>
        <div class="form-row">
            <div class="col-12">
                <label for="inputAddress" class="form-label">Street</label>
                <input type="text" class="form-control" name="street" placeholder="1234 Main St" minlength="1" maxlength="20" value="@Model.userData["street"]">
            </div>
            <div class="col-12">
                <label for="inputAddress2" class="form-label">Unit / Apt. </label>
                <input type="text" class="form-control" name="unit" placeholder="Apartment, studio, or floor" maxlength="10" value="@Model.userData["unit"]">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" class="form-control" name="city" minlength="1" maxlength="20" value="@Model.userData["city"]">
            </div>
            <div class="col-md-3">
                <label for="state" class="form-label">State</label>
                <br />
                <select id="state" name="state" class="form-select rounded" style=" font-size: 20px; width:fit-content; height: 40px;">
                    <option selected value="@Model.userData["state"]">@Model.userData["state"]</option>
                    @foreach (var state in Model.stateInput)
                    {
                        <option value="@state.Value">@state.Key</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <label for="zipcode" class="form-label">Zip</label>
                <input type="text" class="form-control" name="zipcode" minlength="4" maxlength="5" value="@Model.userData["zipcode"]">
            </div>
        </div>
        <br />
        <center>
            <div class="col-12">
                <button type="submit" class="btn btn-success" style="font-size: 20px;">Update Profile</button>
            </div>
            <br />
            <div style="display: @Model.updateFail !important;" class="alert alert-warning alert-dismissible fade show" role="alert">
                <p><b>Attention:</b> User Record was Not Updated Successfully!</p>
                <p>Check your input and fill out the form correctly </p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div style="display: @Model.updated !important;" class="alert alert-success alert-dismissible fade show" role="alert">
                <p><b>Processed:</b> Your User Profile was Updated</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </center>
    </form>
</div>
