@page
@model Automatic_Scheduling_App.Pages.generateScheduleModel
@{
    ViewData["Title"] = "Scheduler";
}
<br>
<br>
<div class="jumbotron" style="text-align:center">
    <div class="image-container">
        <center>
            <img id="scheduleImage" src="/sched.svg" class="img-fluid" alt="..." style="width: 70px; height: auto;">
        </center>
    </div>
    <h1><b>AUTOSCHED (<i>BETA</i>)</b></h1>
    <h3>Schedule Generator</h3>

</div>

<center>
    <div id="schgenerate" class="alert alert-success" role="alert" style="background-image: @Model.loading;">
        <form method="post">
            <button id="addAssignmentBtn" name="reset_all" class="btn btn-warning" action="" style="font-size: 20px;">Rebuild All Schedules</button>
        </form>
        <br />
        <p style="font-size: 20px;">Generates 4 weeks schedules</p>
        <p style="font-size: 20px;">use the <b>RESET</b> button bellow to generate the indexed week only</p>
        <hr />
        <p id="completionUpdate" class="mb-0" style="margin-bottom: 15px;"><b>@Model.message</b></p>
    </div>
</center>

<center>
    <form method="post">
        <div class="form-row justify-content-sm-center">
            <button id="resetbut" type="submit" name="reset_week" class="btn btn-outline-success" action="">
                <img src="/schreset.svg" class="img-fluid" alt="..." style="width: 60px; height: auto;">
            </button>
        </div>
        <div class="form-row justify-content-sm-center">
            <div class="col-md-2">
                <div class="col-12">
                    <button type="submit" name="prevbut" class="btn btn-success" @Model.prevDis>Prev.</button>
                </div>
            </div>
            <div class="col-md-3" style="color:white; background-color:coral; font-size: 20px; box-shadow: 2px 2px 5px gray;">
                <p style="margin-top: 5px;"><b>@Model.week_name</b></p>
            </div>
            <div class="col-md-2">
                <div class="col-12">
                    <button type="submit" name="nextbut" class="btn btn-success" @Model.nextDis>Next</button>
                </div>
            </div>
        </div>
    </form>
</center>

<script>
    document.getElementById("addAssignmentBtn").addEventListener("click", function () {
        document.getElementById("schgenerate").style.backgroundImage = "url('/backgr3.gif')";
        document.getElementById("completionUpdate").innerHTML = "<b>Please Wait! System is Loading. DO NOT CLOSE THIS PAGE</b>";
    });
</script>

<script>
    document.getElementById("resetbut").addEventListener("click", function () {
        document.getElementById("schgenerate").style.backgroundImage = "url('/backgr3.gif')";
        document.getElementById("completionUpdate").innerHTML = "<b>Please Wait! System is Loading. DO NOT CLOSE THIS PAGE</b>";
    });
</script>

<br />
<br />
<form method="post">
    <div class="form-row" style="background-color:orange;">
        <button type="submit" name="reset_day" class="btn btn-outline-dark">
            <img src="/refresh.svg" class="img-fluid" alt="..." style="width: 40px; height: auto;">
        </button>
        <select name="week_day" class="form-select rounded" style="background-color:orange; font-size: 30px; width:fit-content; height: auto; margin-left: 10px;">
            <option selected>@Model.week_day</option>
            <option value="mon">Monday</option>
            <option value="tue">Tuesday</option>
            <option value="wed">Wednesday</option>
            <option value="thu">Thursday</option>
            <option value="fri">Friday</option>
            <option value="sat">Saturday</option>
            <option value="sun">Sunday</option>
        </select>
    </div>
</form>

<table id="empdisplay" class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Department</th>
            <th scope="col">Shift Start</th>
            <th scope="col">Shift End</th>
            <th scope="col">Employee</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.week_list)
        {
            <tr>
                <td>@user.Item1</td>
                <td>@user.Item2</td>
                <td>@user.Item3</td>
                <td>@user.Item4</td>
                <td>@user.Item5</td>
            </tr>
        }
    </tbody>
</table>
