@page
@model Automatic_Scheduling_App.Pages.Schedule_AdjustmentModel
@{
}

<br>
<br>
<div class="jumbotron empdayoff" style="text-align:center">
    <h1>Schedule Adjustment Review</h1>
    <p style="color: orangered"><b>@Model.message</b></p>
</div>

<br />
<h3>All Pending Requests (@Model.tot_request)</h3>
<form method="post">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Employee</th>
                <th scope="col">Date Requested</th>
                <th scope="col">Reason</th>
                <th scope="col">Grant/Deny</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.record)
            {
                <tr>
                    <td>@user.Item1</td>
                    <td>@user.Item2</td>
                    <td>@user.Item3</td>
                    <td>
                        <!-- Button in the 5th column -->
                        <button type="submit" name="OK" value=@user.Item5 class="btn btn-primary">OK</button>
                        <button type="submit" name="NO" value=@user.Item5 class="btn btn-danger">NO</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
