<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoSched - @ViewData["Title"]</title>
    <!--
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Automatic_Scheduling_App.styles.css" asp-append-version="true" />
    -->

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Imported styles and formating tools-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</head>
<body id="layout">
    
    <!-- Define a navigation bar for browsing-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class=" navbar-brand" href="Index">@Model.signin </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <button style="display: @Model.userValid !important;" class="image-button">
            <img src="/bellicon.png" class="img-fluid" alt="...">
            <span Style="color:white;" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                99+
            </span>
        </button>


        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav ">
                <li style="display: @Model.userValid !important;" class="nav-item active">
                    <a class="nav-link" href="dashboard">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li style="display: @Model.userValid !important;" class="nav-item active">
                    <a class="nav-link" href="/employeeUpdate">Update Profile <span class="sr-only">(current)</span></a>
                </li>
                <li style="display: @Model.userValid !important;" class="nav-item active">
                    <a class="nav-link" href="#">Request Availability <span class="sr-only">(current)</span></a>
                </li>
               
                <li style="display: @Model.manager !important;" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>Manager</b> Portal
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/BusinessNeeds">Business Needs</a>
                        <a class="dropdown-item" href="/employeeView">View Employee Profile</a>
                        <a class="dropdown-item" href="/CreateUser">Add New (<b><i>employee</i></b>)</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="/generateSchedule"><b>Schedule Generator</b></a>
                    </div>
                </li>  
            </ul>
        </div>
    </nav>
    </center>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
          </main>
      </div>

    <footer class="border-top footer text-muted">
        <br />
        <div class="container">
            &copy; Powered by <b>AUTOSCHED</b> - 2024 <a asp-area="" asp-page="/Privacy">Learn More</a>
        </div>
        <br />
        <br />
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
     -->
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>